* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--text-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;          
    margin: 0;
    background-color: var(--background); 
}

:root {
    --background: #ececec;
    --glass-surface: rgba(255, 254, 254, 0.587);
    --glass-border: rgba(239, 232, 232, 0.296);
    --number-keys: #FFFFFF;
    --operator-keys: #E8F5E9;
    --equals-button: #91f494b6;
    --text-primary: #2c474f;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--glass-surface);
    border: 2px  var(--glass-surface);
    max-width: 480px;
    height: 600px;
    box-sizing: content-box;
    padding: 30px;
    border-radius: 35px;
}

.label {
    /*Making the numbers appear bottom right (39 - 41 lines)*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 70px;
    padding-right: 25px;
    font-weight: 320;
    background-color: var(--glass-surface);
    height: 100px;
    width: 400px;
    border: 2px solid var(--glass-border);
    border-radius: 50px;
    overflow: hidden;
}

.buttons {
    background-color: var(--glass-surface);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 10px;
    height: 500px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #decimal, #posneg, #calc{
    background-color: var(--number-keys);
    border-radius: 25px;
    border: 2px solid var(--glass-border);
    width: 85px;
    aspect-ratio: 1 / 1;
    padding: 20px;
}

#opt {
    border-radius: 25px;
    background-color: var(--operator-keys);
    border: 2px solid var(--glass-border);
     width: 85px;
    aspect-ratio: 1 / 1;
    padding: 20px;
}

#ac, #del, #calc {
    border-radius: 25px;
    border: 2px solid var(--glass-border);
     width: 85px;
    aspect-ratio: 1 / 1;
    padding: 20px;
}

#del {
    background-color: rgba(243, 185, 185);
}

#equal {
    border-radius: 25px;
    background-color: var(--equals-button);
    border: 2px solid var(--glass-border);
     width: 85px;
    aspect-ratio: 1 / 1;
    padding: 20px;
}

#one:active {
    background-color: #e7e7e7
}

#two:active {
    background-color: #e7e7e7
}

#three:active {
    background-color: #e7e7e7
}

#four:active {
    background-color: #e7e7e7
}

#five:active {
    background-color: #e7e7e7
}

#six:active {
    background-color: #e7e7e7
}

#seven:active {
    background-color: #e7e7e7
}

#eight:active {
    background-color: #e7e7e7
}

#nine:active {
    background-color: #e7e7e7
}

#zero:active {
    background-color: #e7e7e7
}

#posneg:active {
    background-color: #e7e7e7
}

#decimal:active {
    background-color:  #e7e7e7;
}

#ac:active {
    background-color: rgba(216, 216, 216, 0.785);
}

#calc:active {
    background-color: rgba(216, 216, 216, 0.785);
}

#del:active {
    background-color: rgb(223, 147, 147);
}


#opt:active {
    background-color: #dae5db;
}

#equal:active {
    background-color: #87dd8abb;
}

.signature {
    color: black;
    margin-top: 20px; 
    text-align: center;
    position: absolute; 
    bottom: 150px;
    width: 100%;
}

.super {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}